In [77]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [69]:
df = pd.read_csv('houses_with_garage_classification.csv')
df

     price  size  construction_costs  garage
0     3930   128              331800       1
1     2300    25               74400       0
2     2300    25               83500       0
3     2300    36               95300       0
4     2300    38               96800       0
..     ...   ...                 ...     ...
731   3930   137              278600       1
732   3930   129              278700       1
733   3600   140              279000       1
734   3930   124              279200       1
735   3930   127              279300       1

[736 rows x 4 columns]

In [72]:
inputs = df.drop(['garage','construction_costs'], axis = 1)
target = df['garage']

In [73]:
target

0      1
1      0
2      0
3      0
4      0
      ..
731    1
732    1
733    1
734    1
735    1
Name: garage, Length: 736, dtype: int64

In [74]:
le_price = LabelEncoder()
le_size = LabelEncoder()

In [75]:
inputs['price_n'] = le_price.fit_transform(inputs['price'])
inputs['size_n'] = le_price.fit_transform(inputs['size'])
inputs

     price  size  price_n  size_n
0     3930   128        8      73
1     2300    25        0       0
2     2300    25        0       0
3     2300    36        0       1
4     2300    38        0       3
..     ...   ...      ...     ...
731   3930   137        8      82
732   3930   129        8      74
733   3600   140        6      84
734   3930   124        8      69
735   3930   127        8      72

[736 rows x 4 columns]

In [76]:
inputs_n = inputs.drop(['price', 'size'], axis = 'columns')
inputs_n

     price_n  size_n
0          8      73
1          0       0
2          0       0
3          0       1
4          0       3
..       ...     ...
731        8      82
732        8      74
733        6      84
734        8      69
735        8      72

[736 rows x 2 columns]

In [81]:
model = tree.DecisionTreeClassifier()

In [82]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [83]:
model.score(inputs_n, target)

0.8722826086956522

In [87]:
model.predict([[8, 74]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])